DATABASE_URL = "DBMS://USERNAME:PASSWORD@HOST:PORT/DATABASE"


PORT = YOUR PORT NUMBER SHOULD BE HERE

TYPEORM_CONNECTION = MYSQL
TYPEORM_HOST = HOST IP
TYPEORM_USERNAME = USERNAME
TYPEORM_PASSWORD = PASSWORD
TYPEORM_DATABASE = DATABASE NAME
TYPEORM_PORT = DATABASE PORT NUMBER
TYPEORM_LOGGING = TRUE
